.cart{
	padding: 10px;
	min-height: 700px;
    .container{
        max-width: 1240px;
        margin: auto;
        display: flex;
        flex-direction: column;
		padding: 10px;
        h1{
            font-size: 30px;
            font-weight: bold;
        }
        .total {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
            span{
                float: right;
            }
        }
		.productName {
			font-size: 20px;
			font-weight: bold;
		}
		.quantity {
			font-size: 20px;

			button{
				width: 30px;
				height: 30px;
			}
		}
		
		span{
			float: right;
		}
		.price{
			color: #d0021c;
			font-size: 20px;
		}
		.originalPrice{
			color: #666;
			font-size: 20px;
			text-decoration: line-through;
		}

		.submit{
			background-color: #FFA62B;
			width: 400px;
			color: #fff;
			font-size: 20px;
			height: fit-content;
			align-self: center;
			padding: 10px;
		}
		.submit:hover{
			color: #379ac2;
		}
    }
	
}