.productCard {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 226px;
	background-color: #fff;
	border-radius: 8px;
	color: #333333;
	font-size: 1.2rem;
	cursor: pointer;
	padding: 10px 15px 20px;
	min-height: 500px;
    
    .title{
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .wrap{
        display: flex;
		flex-direction: column;
		gap: 8px;
		width: 208px;
    }
    .image {
        width: 210px;
        height: 226px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 250px;
        .img {
            margin-top: 8px;
            transition: margin 700ms;
            max-width: 100%;
        }
        .imgPolicy{
            width: 45px;
            height: 45px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .price {
        color: #d0021c;
        font-size: 1.4rem;
    }
    .infoProduct {
        p {
    
            display: flex;
            column-count: 2;
            column-fill: balance;
            color: #222;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .infoProduct p span:first-child {
        display: inline-block;
        min-width: 65px;
    }

    
}
.productCard:hover {
    .wrap {
		.image {
			img {
				margin-top: unset;
			}
		}

		.title {
			color: #2f80ed;
		}
	}
}
