.featured {
    .container {
        margin-block: 32px;
		border-radius: 8px;
		padding-bottom: 16px;
    }
    .title {
        display: inline;
        color: #000;
        font-size: 1.5rem;
		font-weight: 700;
    }
}
.blocklist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    
}