.homePage{
    @mixin d-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
    .container{
	    width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    
}