.homePage{
	background-color: #dfdfdf;
    @mixin d-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
    .container{
	    width: 86%;
        max-width: 1240px;
        margin: auto;
    }
    
}